body {
  background: url(https://www.peru.travel/Contenido/Destino/Imagen/pe/27/1.1/Principal/Plaza%20de%20Armas%20Arequipa.jpg);
  background-repeat: no-repeat;
}
mark {
  background-color: rgb(46, 79, 85);
}

div {
  background-color: rgba(9, 16, 24, 0.788);
}
